/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2015, 3:03:59 PM
    Author     : Justisin7
*/
.all{
    background:#F5F5F5;
        font-family: "Impact", Charcoal, sans-serif;
}

.outerLink 
{
    opacity:1;
    filter:alpha(opacity=100);
    width:200px;
}

img.darkableImage 
{
    opacity:1;
    filter:alpha(opacity=100);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}